{% load i18n wagtailcore_tags  wagtailimages_tags %}
{% firstof obj.introduction obj.event_template.introduction as introduction %}

{% if introduction %}
<p class="d-none {% if home_page == 1 %}{% else %}d-lg-block{% endif %} {% if obj.highlight_introduction %} text-danger{% endif %}">
  {{ introduction|truncatewords:15 }}
</p>
{% endif %}
<p>
  {% translate 'date'|capfirst %}: {{ obj.start_date | date:"l j. F Y" }}<br>
  {% translate 'time'|capfirst %}: {{ obj.start_date | date:"G:i" }} - {{ obj.end_date | date:"G:i" }}<br>
  {% if obj.location %}{% translate 'event location'|capfirst %}: {{ obj.location }}{% endif %}

  {% if obj.status_text %}
    <br>{% include 'blog/_event_status_badge.html' with event=obj %}
  {% endif %}
</p>
