{% load i18n wagtailimages_tags %}
{% image self.image fill-800x450-c100 format-webp as image %}
<meta property="og:site_name" content="{{ wagtail_site_name }}" />
<meta property="og:type" content="article" />
<meta property="og:title" content="{% if self.seo_title %}{{ self.seo_title }}{% elif self.title %}{{ self.title }}{% else %}{{ title }}{% endif %}" />
<meta property="og:description" content="{% if self.search_description %}{{ self.search_description }}{% elif self.introduction %}{{ self.introduction | truncatechars:200 }}{% endif %}" />
<meta property="og:url" content="{{ self.full_url }}" />
{% if image %}
  <meta property="og:image" content="{{ site.root_url }}{{ image.url }}" />
  <meta property="og:image:alt" content="{{ image.alt }}"/>
{% endif %}
{% if settings.base.SocialMediaSettings.twitter_site %}
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@{{ settings.base.SocialMediaSettings.twitter_site }}" />
  <meta name="twitter:title" content="{% if self.seo_title %}{{ self.seo_title }}{% elif self.title %}{{ self.title }}{% else %}{{ title }}{% endif %}" />
  <meta name="twitter:description" content="{% if self.search_description %}{{ self.search_description }}{% elif self.introduction %}{{ self.introduction | truncatechars:200 }}{% endif %}" />
  {% if image %}
    <meta name="twitter:image" content="{{ site.root_url }}{{ image.url }}" />
    <meta name="twitter:image:alt" content="{{ image.alt }}" />
  {% endif %}
{% endif %}
