{% extends "base.html" %}
{% load i18n wagtailcore_tags navigation_tags wagtailimages_tags %}

{% block social_metadata %}
  {% image page.image fill-800x450-c100 format-webp as image %}
  <meta property="og:site_name" content="{{ wagtail_site_name }}" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{% if self.seo_title %}{{ self.seo_title }}{% elif self.title %}{{ self.title }}{% else %}{{ title }}{% endif %}" />
  <meta property="og:description" content="{% if self.search_description %}{{ self.search_description }}{% elif self.introduction %}{{ self.introduction | truncatechars:200 }}{% endif %}" />
  <meta property="og:url" content="{{  self.full_url }}" />
  {% if image %}<meta property="og:image" content="{{ image.full_url }}" />{% endif %}
  {% if settings.base.SocialMediaSettings.twitter_site %}
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@{{ settings.base.SocialMediaSettings.twitter_site }}" />
    <meta name="twitter:title" content="{% if self.seo_title %}{{ self.seo_title }}{% elif self.title %}{{ self.title }}{% else %}{{ title }}{% endif %}" />
    <meta name="twitter:description" content="{% if self.search_description %}{{ self.search_description }}{% elif self.introduction %}{{ self.introduction | truncatechars:200 }}{% endif %}" />
    {% if image %}<meta name="twitter:image" content="{{ image.full_url }}" />{% endif %}
  {% endif %}
{% endblock %}

{% block content %}

  {% include "base/include/header-hero.html" %}

  <div class="container-lg">
    <div class="row">
      <div class="col-12">
        <div class="mb-2">
          {% if page.authors %}
            <ul class="list-inline mb-1">
              {% for author in page.authors %}
                {% image author.image fill-100x100-c100 format-webp as author_img %}
                <li class="list-inline-item">
                  <img src="{{ author_img.url }}" width="50px" alt="{{ author_img.alt }}" class="rounded-circle"/>
                  {{ author.first_name }} {{ author.last_name }}</li>
              {% endfor %}
            </ul>
          {% endif %}

          {% if page.date_published %}
            <div class="mb-1">
              <small class="text-muted"> {{ page.date_published }}</small>
            </div>
          {% endif %}

          {% if page.get_tags %}
            <nav class="mb-2">
              {% for tag in page.get_tags %}
                <a class="btn btn-sm btn-outline-secondary" role="button" href="{{ tag.url }}">{{ tag }}</a>
              {% endfor %}
            </nav>
          {% endif %}
        </div>

        {% if page.introduction %}
          <p class="intro">{{ page.introduction }}</p>
        {% endif %}

        {% include 'includes/body.html' %}

      </div>
    </div>
  </div>

  {% include "includes/page_navigation.html" with slug=page.tag.slug slug_name='tag' previous=_("Previous articel") next=_("Next articel") %}

{% endblock content %}
