{% load i18n navigation_tags wagtailcore_tags static %}
<header>
  <div class="container-lg py-4 d-none d-sm-block">
    <div class="d-flex flex-column flex-sm-row align-items-center ">
      <a href="{% url 'wagtail_serve' '' %}" class="d-flex align-items-center text-dark text-decoration-none">
        <svg class="bi me-2" width="75" height="60" viewBox="0 0 118 94" role="img">
          <use xlink:href="#journal-richtext"></use>
        </svg>
        <span>{{ wagtail_site_name }}</span>
      </a>
      <nav class="d-inline-flex mt-2 mt-sm-0 ms-sm-auto">
        <form action="/search" method="get" role="search">
          <input name="q" type="text" class="form-control" placeholder="{% translate 'Search' %}" aria-label="{% translate 'Search' %}"
                 autocomplete="off">
        </form>
      </nav>
    </div>
  </div>
  <nav class="navbar navbar-expand-sm bg-light navbar-light mb-2" aria-label="navbar">
    <div class="container-lg ps-sm-0">
      <a class="navbar-brand d-sm-none" href="{% url 'wagtail_serve' '' %}">
        <svg class="bi me-2" width="60" height="48" viewBox="0 0 118 94" role="img">
          <use xlink:href="#journal-richtext"></use>
        </svg>
        {{ wagtail_site_name }}
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-main" aria-controls="navbar-main" aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse pt-2 pt-sm-0" id="navbar-main">
        <ul class="navbar-nav me-auto mb-2 mb-sm-0" role="menubar">
          {# main_menu is defined in base/templatetags/navigation_tags.py #}
          {% get_site_root as site_root %}
          {% top_menu parent=site_root calling_page=self %}
        </ul>
        <form action="/search" method="get" class="search d-sm-none" role="search">
          <input name="q" type="text" class="form-control" placeholder="{% translate 'Search' %}" aria-label="{% translate 'Search' %}"
                 autocomplete="off">
        </form>
        {% if wagtail_i18n_enabled and page and page.get_translations.live %}
          <hr class="dropdown-divider">
          <ul class="navbar-nav">
            {% for translation in page.get_translations.live %}
              {% get_language_info for translation.locale.language_code as lang %}
              <li class="nav-item">
                <a class="nav-link" href="{% pageurl translation %}" rel="alternate" hreflang="{{ language_code }}">
                  {{ lang.name_local }}
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>

    </div>
  </nav>
</header>
