{% load i18n navigation_tags wagtailcore_tags wagtailimages_tags static %}
{% get_site_logo as site_logo %}
{% if logo_size == 'small' %}
  {% image site_logo.image_header max-525x165 format-webp as site_logo_image %}
{% elif logo_size == 'big' %}
  {% image site_logo.image_header max-1050x330 format-webp as site_logo_image %}
{% else %}
  {% image site_logo.image_header max-700x220 format-webp as site_logo_image %}
{% endif %}
<header>
  <div class="container-lg py-4 d-none d-sm-block">
    <div class="d-flex flex-column flex-sm-row align-items-center ">
      <a href="{% url 'wagtail_serve' '' %}" class="d-flex align-items-center text-dark text-decoration-none">
        {% if site_logo_image %}
          <img src="{{ site_logo_image.url }}" width="{% widthratio site_logo_image.width 2 1 %}" height="{% widthratio site_logo_image.height 2 1 %}" class="me-3" alt="{{ wagtail_site_name }}">
        {% else %}
          <svg class="bi me-2" width="75" height="60" viewBox="0 0 118 94" role="img">
            <use xlink:href="#journal-richtext"></use>
          </svg>
          <span>{{ wagtail_site_name }}</span>
        {% endif %}
      </a>
      <nav class="d-inline-flex mt-2 mt-sm-0 ms-sm-auto">
        <form action="/search" method="get" role="search">
          <input name="q" type="text" class="form-control" placeholder="{% translate 'Search' %}" aria-label="{% translate 'Search' %}"
                 autocomplete="off">
        </form>
      </nav>
    </div>
  </div>
  <nav class="navbar navbar-expand-md bg-body-tertiary mb-2" aria-label="navbar">
    <div class="container-lg ps-sm-0">
      <a class="navbar-brand d-sm-none" href="{% url 'wagtail_serve' '' %}">
        {% if site_logo_image %}
          <img src="{{ site_logo_image.url }}" alt="{{ wagtail_site_name }}" width="{% widthratio site_logo_image.width 3 1 %}" height="{% widthratio site_logo_image.height 3 1 %}" class="me-3">
        {% else %}
          <svg class="bi me-2" width="60" height="48" viewBox="0 0 118 94" role="img">
            <use xlink:href="#journal-richtext"></use>
          </svg>
          {{ wagtail_site_name }}
        {% endif %}
      </a>
      <button class="navbar-toggler ms-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-main" aria-controls="navbar-main" aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse pt-2 pt-md-0" id="navbar-main">
        <ul class="navbar-nav me-auto mb-2 mb-md-0" role="menubar">
          {# main_menu is defined in base/templatetags/navigation_tags.py #}
          {% get_site_root as site_root %}
          {% top_menu parent=site_root calling_page=self %}
        </ul>
        <ul class="nav mb-2 mb-md-0">
          {% include 'includes/_color_mode_button.html' %}
        </ul>
        <form action="/search" method="get" class="search d-sm-none" role="search">
          <input name="q" type="text" class="form-control" placeholder="{% translate 'Search' %}" aria-label="{% translate 'Search' %}"
                 autocomplete="off">
        </form>
        {% if wagtail_i18n_enabled and page and page.get_translations.live %}
          <hr class="dropdown-divider">
          <ul class="navbar-nav">
            {% for translation in page.get_translations.live %}
              {% get_language_info for translation.locale.language_code as lang %}
              <li class="nav-item">
                <a class="nav-link" href="{% pageurl translation %}" rel="alternate" hreflang="{{ language_code }}">
                  {{ lang.name_local }}
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>

    </div>
  </nav>
</header>
