# Django project
htdocs
data
demo-data
*/*/settings/local.py
# Python and others
__pycache__
*.swp
/venv/
/tmp/
node_modules/
/.idea/
.vscode
coverage
.python-version

# Distribution / packaging
.Python
env/
build/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
parts/
sdist/
wheels/
*.egg-info/
.installed.cfg
*.egg
