{% extends "base.html" %}
{% load wagtailcore_tags navigation_tags wagtailimages_tags i18n %}

{% block title %}{% trans "Password required" %}{% endblock %}

{% block content %}
  <div class="container-lg">
    <div class="row">
      <div class="col-12 form-page">
        <h1>{% trans "Password required" %}</h1>
        {% block password_required_message %}
          <p>{% trans "You need a password to access this page." %}</p>
        {% endblock %}
        <form action="{{ action_url }}" method="POST" role="form">
          {% csrf_token %}

          {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}

          {% if form.errors and not form.non_field_errors %}
            <div class="alert alert-danger">
              {% blocktranslate count errors=form.errors|length %}Please correct the error below.{% plural %}Please correct the errors
                below.{% endblocktranslate %}
            </div>
          {% endif %}

          {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
              <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
          {% endif %}

          {% for field in form.visible_fields %}
            <div class="mb-3 row" aria-required="{% if field.field.required %}true{% else %}false{% endif %}">
              <label class="col-sm-3 col-md-2" for="{{ field.id_for_label }}">
                {{ field.label }}{% if field.field.required %}<span class="required">*</span>{% endif %}
              </label>
              <div class="{% if field.errors %}is-invalid {% endif %}col-sm-9 col-md-8 col-lg-7 col-xl-6 col-xxl-5">{{ field }}</div>
              {% for error in field.errors %}
                <div class="invalid-feedback">{{ error }}</div>{% endfor %}
              {% if field.help_text %}
                <div class="form-text">{{ field.help_text|safe }}</div>{% endif %}
            </div>
          {% endfor %}

          <input type="submit" value="{% trans 'Continue' %}" class="btn btn-primary"/>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
