{% load i18n wagtailimages_tags wagtailcore_tags %}
{% image childpage.image fill-800x800-c100 format-webp as child_image %}
<div class="card mb-3 shadow">
  <div class="row g-0">
    {% if child_image %}
      <div class="g10f-card col-sm-4 text-light">
        <img src="{{ child_image.url }}" alt="{{ child_image.alt }}" class="img-fluid rounded-start"/>
        <div class="hero-gradient-mask d-sm-none"></div>
        <div class="g10f-card-img-overlay d-sm-none">
          <div class="card-title h3">{{ childpage.title }}</div>
          <div class="card-subtitle">{{ childpage.subtitle }}</div>
      </div>
      </div>
    {% endif %}
    <div class="col-sm-{% if child_image %}8{% else %}12{% endif %}">
      <div class="card-body">
        <h3 class="d-none d-sm-block">{{ childpage.title }}</h3>
        <div class="card-text">
          {% include childpage.intro_template with obj=childpage %}
          <a href="{% pageurl childpage %}" class="float-end card-link stretched-link ">{% translate 'Read more' %}</a>
        </div>
      </div>
    </div>
  </div>
</div>
