{% load wagtailcore_tags wagtailimages_tags %}

{% image page.image width-1920 format-webp as image %}
{% if image %}
  <div class="px-4 py-5 mb-2"
       style="min-height: 250px; background-image:url('{{ image.url }}');background-repeat: no-repeat;background-size: cover;background-position: center">
  </div>
{% endif %}
<div class="container-lg">
  <div class="row">
    <div class="col-md-12">
      <h1>{{ page.title }}</h1>
      {% if page.subtitle %}<h2>{{ page.subtitle }}</h2>{% endif %}
      {% if page.introduction %}<p class="lead">{{ page.introduction }}</p>{% endif %}
    </div>
  </div>
</div>
