<!doctype html>
{% load navigation_tags static wagtailuserbar wagtailimages_tags %}
{% get_site_logo as site_logo %}
{% image site_logo.image_ico max-48x48 format-png as site_logo_ico %}

<html lang="{{ LANGUAGE_CODE }}">
<head>
  {% block head %}
    <meta charset="utf-8">
    <title>
      {% block title %}
        {% block title_prefix %}{{ wagtail_site_name }}{% endblock %} -
        {% if self.seo_title %}{{ self.seo_title }}{% elif self.title %}{{ self.title }}{% else %}{{ title }}{% endif %}
      {% endblock %}
    </title>
    <meta name="description" content="{% if self.search_description %}{{ self.search_description }}{% endif %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="g10f">
    {% if site_logo_ico %}
      <link rel="shortcut icon" type="image/png" href="{{ site_logo_ico.url }}">
    {% else %}
      <link rel="shortcut icon" type="image/ico" href="{% static 'img/favicon.ico' %}">
    {% endif %}
    <link rel="stylesheet" href="{% if debug %}{% static 'css/main.css' %}{% else %}{% static 'css/main.min.css' %}{% endif %}">
    <link href="{% static 'font/bootstrap-icons.css' %}" rel="stylesheet">
    {# <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Barlow"> #}
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Barlow&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Barlow"></noscript>
  {% endblock head %}
</head>

<body class="{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}">


{% wagtailuserbar %}

{% block header %}
  {# Header contains the main_navigation block #}
  {% include "includes/header.html" with parent=site_root calling_page=self %}
{% endblock header %}

{% block head-extra %}
{% endblock head-extra %}

{% block messages %}
  {% include "includes/messages.html" %}
{% endblock messages %}


{% block breadcrumbs %}
  {# breadcrumbs is defined in base/templatetags/navigation_tags.py #}
  {% breadcrumbs %}
{% endblock breadcrumbs %}

<main>
  {% block content %}
  {% endblock content %}
</main>

<div class="container-lg">
  {% include "includes/footer.html" %}
</div>

<script src="{% static 'js/vendor/bootstrap.bundle.min.js' %}"></script>
{# <script src="{% static 'js/vendor/jquery.min.js' %}"></script> #}
{% include "includes/symbols.html" %}
</body>

</html>
