// same as alert-danger for fit with django message.tags
@use "sass:math";

html {
  overflow-y: scroll;
}

// wagtail
.card-body p:last-child {
  margin-bottom: 0;
}

/* Hero image area */
.hero {
  padding: 200px 0 0;
  position: relative;
  margin: 0 0 10px;
  min-height: 250px;
}

.hero-image {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-gradient-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  background: linear-gradient(0deg, #000 0%, rgb(0 0 0 / 0%) 70%);
}

.nav-link.active {
  background-color: var(--bs-secondary-bg);
}

@include media-breakpoint-down(sm) {
  // enable background for the full width
  .navbar-collapse {
    margin-right: var(- --bs-gutter-x, -0.75rem);
    margin-left: var(- --bs-gutter-x, -0.75rem);
  }
  .navbar .nav-link {
    padding-right: var(--bs-gutter-x, 0.75rem) !important;
    padding-left: var(--bs-gutter-x, 0.75rem) !important;
  }
}

@include media-breakpoint-up(sm) {
  .navbar {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .nav-link {
    padding: $nav-link-padding-y + math.div($navbar-padding-y, 2) $nav-link-padding-x !important;
    border-bottom: math.div($navbar-padding-y, 2) solid transparent;
  }
  .nav-link.active {
    border-bottom: math.div($navbar-padding-y, 2) solid $brand;
  }
}

$utilities: map-merge(
  $utilities, (
    "width": map-merge(
      map-get($utilities, "width"),
      ( responsive: true ),
    ),
  )
);
