{% load i18n %}
<form action="" method="POST" role="form">
  {#% csrf_token %#}
  {% if message %}
    <div class="alert alert-success" role="alert">{{ message }}</div>
  {% endif %}

  {% if form.errors and not form.non_field_errors %}
    <div class="alert alert-danger">
      {% blocktranslate count errors=form.errors|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktranslate %}
    </div>
  {% endif %}

  {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
      <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}
  {% endif %}

  {% for field in form %}
    <div
      class="form-{% if field.widget_type == 'checkbox' %}check{% else %}floating{% endif %} mb-3{% if field.errors %} has-error{% endif %}"
      aria-required="{% if field.field.required %}true{% else %}false{% endif %}">
      {{ field }}
      {% if not field.is_hidden %} {# recaptcha field #}
        <label for="{{ field.id_for_label }}">
          {{ field.label }}{% if field.field.required %}<span class="required">*</span>{% endif %}</label>
      {% endif %}
      {% if field.help_text or field.errors %}
        <div class="form-text">{{ field.help_text }} {% for error in field.errors %}{{ error }} {% endfor %}</div>
      {% endif %}
    </div>
  {% endfor %}
  {% translate "Submit" as default_submit_button_text %}
  <input class="btn btn-primary" type="submit" value="{{ submit_button_text|default:default_submit_button_text }}">
</form>
