{% extends "wagtailadmin/login.html" %}
{% load i18n wagtailadmin_tags oidc_settings_tags %}

{% block furniture %}
  <main class="content-wrapper" role="main">
    {% if messages or form.errors %}
      <div class="messages">
        <ul>
          {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    <h1>{% block branding_login %}{% trans "Sign in to Wagtail" %}{% endblock %}</h1>

    {% get_idp_name as idp %}
    {% if user.is_authenticated %}
      <p>Current user: {{ user.email }}</p>
      <form action="{% url 'oidc_logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="button button-longrunning" data-clicked-text="{% trans 'Logging out…' %}">{% icon name="spinner" %}<em>
          {% blocktranslate %}Log out from {{ idp }}{% endblocktranslate %}</em></button>
      </form>
    {% else %}
      <a class="button button-longrunning" href="{% url 'oidc_authentication_init' %}">
        {% blocktranslate %}Sign in with {{ idp }}{% endblocktranslate %}</a>
    {% endif %}
  </main>
{% endblock %}
